.single-product-container{
    width: 100%;
}
.single-product-content{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(167, 130, 253, 0.472);
}
.single-product-content img{
    width: 20%;
    border-radius: 50%;
}
.single-product-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.single-product-remove button{
    border-radius: 30%;
    border: none;
    background-color: rgba(29, 85, 241, 0.205);
    color: rgba(255, 0, 0, 0.726);
    height: 30%;
    font-size: 18px;
    cursor: pointer;
}