.product-container{
    background-color: rgba(102, 100, 100, 0.109);
    box-shadow: 10px 10px 40px rgba(255, 255, 255, 0.719);
    border-radius: 6px;
}
.card-img-section{
    padding: 5px;
    
}
.card-img-section img{
    width: 100%;
    min-height :190px;
    border-radius: 6px 6px 0px 0px;
}
.card-info{
    padding-left: 8px;
}
.card-info h4{
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 18px;
}
.card-info p{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 300;
}
.add-to-cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(99, 247, 80, 0.589);
    margin-top: 10px;
    padding: 0;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 0px 0px 6px 6px;
    color: rgba(171, 11, 245, 0.993);
}
.add-to-cart-btn:hover{
    background-color: rgba(69, 247, 45, 0.829);
}
.add-to-cart-btn p{
    font-weight: 700;
    font-size: 14px;
    margin-right: 5px;
}